---
---

/* Variables */

$bp-medium: 680px;
$bp-large: 1080px;
$color-primary: #256781;
$color-black: rgb(20,20,20);
$color-gray: rgb(90,90,90);
$font-normal: 400;
$font-heavy: 500;
$leading: 1.4;

$width-narrow: 24em;
$width-medium: 42em;
$width-wide: 62em;

$shadow: .4rem .3rem 0 $color-primary;

/* Reset */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0 0 1em;
}

img {
  max-width: 100%;
}

::selection {
  background: $color-primary;
  color: white;
}

/* Typography */

body {
  color: $color-gray;
  font-family: "Rubik", sans-serif;
  font-weight: $font-normal;
  line-height: $leading;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-black;
  font-size: 1em;
  font-weight: $font-heavy;
  margin: $leading*1.2em 0 $leading*.8em;
}

h1 {
  letter-spacing: .1em;
  text-transform: uppercase;
}

h3 {
  font-style: italic;
  font-weight: $font-normal;
}

h4, h5, h6 {
  font-weight: $font-normal;
  margin: $leading*1.6em 0 $leading*.4em;
  text-decoration: underline;
}

p, ul, ol {
  margin-bottom: $leading*1em;
}

a, a:visited {
  color: $color-primary;
  transition: color .15s ease-in-out;
}

a:hover, a:target {
  color: darken($color-primary, 15);
}

/* Buttons */
a.button,
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: white;
  border: 1px solid $color-black;
  color: $color-black;
  cursor: pointer;
  display: inline-block;
  font-size: .9em;
  margin-bottom: .5em;
  margin-right: .5em;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none !important;
  transition: box-shadow .1s ease-in-out;
  white-space: nowrap; 
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  box-shadow: $shadow;
  outline: 0; 
}

/* Forms */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  background-color: #fff;
  border: 1px solid $color-gray;
  border-radius: 0;
  box-shadow: none;
  font-family: "Rubik", sans-serif;
  font-size: .9em;
  height: 2.2em;
  margin-bottom: 1.2em;
  padding: 6px 1em;
  min-width: 60%;
  transition: box-shadow .1s ease-in-out;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; 
}

textarea {
  min-height: 8em;
  padding-top: .5em;
  padding-bottom: .5em;
  width: 100%;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  box-shadow: $shadow;
  outline: 0; 
}

label,
legend {
  display: block;
  font-weight: normal; 
  margin-bottom: .5rem;
}

fieldset {
  border-width: 0; 
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline; 
}

label > .label-body {
  display: inline-block;
  font-weight: normal; 
  margin-left: .5rem;
}

/* Site header */

.site-header {
  padding: 1em;
}

.site-header h1 {
  margin: 0;
}

.site-header a {
  color: $color-black;
  text-decoration: none;
}

.site-header h1 a {
  font-size: 1.2em;
}

.site-header a:hover,
.site-header a:target {
  color: $color-primary;
}

.site-header nav {
  margin-top: 1em;
  transform: translateX(-1em);
}

@media screen and (min-width: $bp-medium) {
  .site-header {
    display: flex;
  }
  
  .site-header nav {
    margin: 0 0 0 auto;
    transform: translateX(1em);
  }
}

.site-header ul {
  list-style-type: none;
  margin: 0;
}

.site-header ul li {
  display: inline-block;
}

.site-header ul li a {
  color: $color-gray;
  padding: 1em 1em;
}

/* Site content */

.site-content {
  padding: 1em;
}

.home.site-content {
  padding: .5em;
}

.site-content > * {
  margin-right: auto;
  margin-left: auto;
  max-width: $width-narrow;
}

.site-content > figure {
  max-width: $width-medium;
}

/* Site footer */

.site-footer {
  margin: 2em 0 1em;
  padding: 1em;
  opacity: 1;
  animation-name: fade-in;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

/* Masonry (the javascript plugin that tiles images on index view ) */

.masonry-grid {
  max-width: $width-wide;
  opacity: 0;
}

/* Fallback in case javascript doesn't load */

.masonry-grid.fading-in {
  opacity: 1;
  animation-name: fade-in;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

@keyframes fade-in {
  0% { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}

.grid-item,
.grid-item--width2 {
  opacity: 0;
  padding: .44em .5em;
}

.grid-item.visible {
  opacity: 1; 
  transition: opacity .4s ease-in-out;
  transform: none;
}

.grid-item figure {
  margin: 0;
}

.grid-item img,
.grid-item--width2 img {
  display: block;
}

.grid-sizer, 
.grid-item,
.grid-item--width2 {
  width: 100%;
}

.grid-item a {
  text-decoration: none;
}

.grid-item .overlay h2 {
  margin: .5em 0;
  padding: 0 1em;
}

@media (min-width: 520px) {
  .grid-sizer,
  .grid-item { 
    width: 50%; 
  }

  .grid-item--width2 { 
    width: 100%; 
  }

  img.grid-item {
    cursor: pointer;
    display: block;
    -webkit-transform: translateZ(0px);
    -webkit-backface-visibility: hidden;
    transition: opacity .1s ease-in-out;
  }

  img.grid-item:hover {
    opacity: .6;
  }

  .grid-item .overlay h2 {
    color: white;
    font-size: 1.2em;
    font-weight: $font-normal;
    margin: 0;
    opacity: 0;
    text-align: center;
    transform: translateY(100%);
    transition: all .15s ease-in-out;
  }

  .grid-item > a {
    display: block;
    position: relative;
  }

  .grid-item .overlay {
    align-items: center;
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    overflow: hidden;
    transition: background .15s ease-in-out;
  }

  .grid-item > a:hover {
    .overlay {
      background: rgba(0,0,0,.7);
    }

    .overlay h2 {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media (min-width: 720px) {
  .grid-sizer,
  .grid-item { 
    width: 33.333333%; 
  }

  .grid-item--width2 { 
    width: 66.666666%; 
  }

}

/* Single view */

.featured-image {
  margin-bottom: 1em;
}

.single-navigation {
  display: flex;
  max-width: $width-medium;
  position: relative
}

.single-navigation a {
  font-size: 4em;
  text-decoration: none;
}

.single-navigation .prev,
.single-navigation .next {
  svg {
    height: .6em;
    width: .6em;
  }

  svg path {
    fill: rgba(0,0,0,.3);
    transition: fill .15s ease-in-out;
  }

  &:hover,
  &:target {
    svg path {
      fill: rgba(0,0,0,.5);
    }
  }
}

.single-navigation .next {
  margin-left: auto;
}

@import 'lightbox';
