---
layout: default
---

{{ content }}

<div class="masonry-grid">
	<div class="grid-sizer"></div>
	<figure class="grid-item">
    <img src="{{ site.baseurl }}/images/art_cityscape_small.jpg" alt="" />
  </figure>
  <figure class="grid-item">
    <img src="{{ site.baseurl }}/images/art_surreal_small.jpg" alt="" />
  </figure>
  <figure class="grid-item">
    <img src="{{ site.baseurl }}/images/lucky.jpg" alt="" />
  </figure>
  <figure class="grid-item">
    <img src="{{ site.baseurl }}/images/gin_tonic.jpg" alt="" />
  </figure>
  <figure class="grid-item">
    <img src="{{ site.baseurl }}/images/art_still_small.jpg" alt="" />
  </figure>
  <figure class="grid-item">
    <img src="{{ site.baseurl }}/images/sir_ian.jpg" alt="" />
  </figure>
</div>